@import 'scss/variables';
@import 'scss/btn';
@import 'scss/test.css';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// RESET ABOVE 

// VAR AND MIXINS 
$white: #FFFFFF;
$grey: #E7E7E7;
$black: #29322C;
$black-alt: #1E1C1F;
$purple: #54008B;
$yellow: #F2FC53;
$body-background: #006633;

$ring-orange: rgb(246, 162, 6);
$ring-gold: rgb(243, 195, 0);
$ring-black: rgb(50, 50, 50);
$margin: 4rem;
$h1Font: 4rem;
$h2Font: 3rem;


@mixin ring ($size, $color) {
    width: $size;
    height: $size;
    border-radius: 100%;
    background-color: transparent;
    border: $size / 10 solid $color;
    box-shadow: $size / 50 $size / 50 $size / 20 $black , inset $size / 50 $size / 50 $size / 20 $black;
}

body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        position: relative;
        margin: $margin;
        font-size: $h1Font;
        &::before, &::after{
            content: '';
            position: absolute;
            right: -200px;
            top: -50%;
            @include ring(60px, $ring-orange)

    }
        &::before{
             left: -200px;
    }
    }
   h2{
       position: relative;
       margin: $margin;
       font-size: $h2Font;
        &:first-of-type {
            &::before, &::after{
                content: '';
                position: absolute;
                right: -300px;
                top: -50%;
                @include ring(150px, $ring-gold)
            }
            &::before{
                left: -300px;
       }    
   }
       
}
.ring__container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10rem;
}

    @for $i from 1 through 6{
        .ring#{$i}{
        position: relative;
        padding : $i*10px;
        margin-left : $i*-10px;
        @include ring($i * 1.5rem , $ring-black); 


        }
    }
    

}
